{% extends 'base.html.twig' %}

{% block contenu %}
    
    <h1> <center> Bienvenue sur la page d'accueil de Prostages </h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <td>Titre du stage</td>
                    </div>

                    <div class="col-md-6 col-xs-12">
                        <td>Descriptif du stage</td>
                    </div>
                </div>
            </tr>
        </thead>

        {% for stageCourant in stagesAvecEntreprise %}
            <tbody>
                <tr>
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <td><a href="{{path('pro_stage_stages', {id:stageCourant.id})}}">{{ stageCourant.titre }} -- {{stageCourant.entreprises.nom}} </a></td> 
                        </div>

                        <div class="col-md-6 col-xs-12">
                            <td>{{ stageCourant.description }}</td>
                        </div>
                    </div>
                </tr>
            </tbody>
            {% endfor %}
    </table>
{% endblock %}
