{% extends 'base.html.twig' %}

{% block contenu %}
    
    <h1> <center> Bienvenue sur la page d'accueil de Prostages </h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <div class="row">
                    <div class="col-md-12">
                        <td>Nom de l'entreprise</td>
                    </div>
                </div>                                   
            </tr>
        </thead>

        {% for entreprise in entreprises %}
            {% if entreprise.stages|length != NULL %}
                <tbody>
                    <tr>
                        <div class="row">
                            <div class="col-md-8">
                                <td><a href="{{path('pro_stage_stages_par_nom_entreprise', {nom:entreprise.nom})}}">{{entreprise.nom}}</a></td>
                            </div>
                            <div class="col-md-4 col-md-offset-8">
                                <td> 
                                    <a href="{{path('pro_stage_modifier_entreprise', {id:entreprise.id})}}"> 
                                        <i class="icon-plus-circled"></i> 
                                        <b>Modifier Entreprise</b> 
                                    </a>
                                </td>
                            </div>
                        </div>
                    </tr>
                </tbody>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}
