{% extends 'base.html.twig' %}
{% block contenu %}
        <h1> AJOUT D'UNE ENTREPRISE </h1>

    <div class="row">
        <div class="col-md-12">
            {{form(vueFormulaireEntreprise)}}
        </div>    
    </div>

{% endblock %}