
.icon-plus-circled:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-sort-alt-up:before { content: '\f160'; } /* '' */
.icon-transgender:before { content: '\f224'; } /* '' */
.icon-venus-double:before { content: '\f226'; } /* '' */
.icon-mars-double:before { content: '\f227'; } /* '' */
